# Introduction

The Bureau of Economic Analysis (BEA) publishes economic statistics in a variety of formats. This document describes the BEA Data Retrieval Application Programming Interface (API) â€“ including detailed instructions for retrieving data and meta-data published by BEA using the pyBEA package. 

The pyBEA pacakge provides a simple interface to the BEA API and includes methods for retrieving a subset of BEA statistical data, including any meta-data describing it, and loading the results into a Pandas DataFrame object for further analysis.

## Data Return Format
The BEA API returns data in one of two formats: JSON or XML (with JSON being the default). Currently the pyBEA package only supports JSON requests.

In [1]:
import pybea

## Meta-Data API Methods

The BEA API contains three methods for retrieving meta-data as follows:

1. `GetDataSetList`: retrieves a list of the datasets currently offered.
2. `GetParameterList`: retrieves a list of the parameters (required and optional) for a particular dataset.
3. `GetParameterValues`: retrieves a list of the valid values for a particular parameter.

Each of these methods has a corresponding function in the `pybea` package.

In [2]:
pybea.get_data_set_list?

In [3]:
pybea.get_parameter_list?

In [4]:
pybea.get_parameter_values?

### Example usage

In [2]:
# replace this with your BEA data API key!
USER_ID = '98A0A0A7-21DF-4B75-96DE-1410D47AB280'

In [3]:
# access the BEA data API...
meta_data = pybea.get_data_set_list(USER_ID)

# ...display the resulting Pandas DataFrame
meta_data

                                   DatasetDescription              DatasetName
0   The RegionalData dataset is obsolete. Please u...             RegionalData
1                                Standard NIPA tables                     NIPA
2                Standard NI underlying detail tables       NIUnderlyingDetail
3                           Multinational Enterprises                      MNE
4                        Standard Fixed Assets tables              FixedAssets
5                 International Transactions Accounts                      ITA
6                   International Investment Position                      IIP
7                                     GDP by Industry            GDPbyIndustry
8                           Regional Income data sets           RegionalIncome
9                          Regional Product data sets          RegionalProduct
10                                  Input-Output Data              InputOutput
11                         Underlying GDP by Industry  UnderlyingGDPbyIndustry
12                       International Services Trade            IntlServTrade
13                  Metadata about other API datasets       APIDatasetMetaData

In [4]:
# access the BEA data API...
meta_data = pybea.get_parameter_list(USER_ID, DataSetName='RegionalIncome')

# ...display the resulting Pandas DataFrame
meta_data

,MultipleAcceptedFlag,ParameterDataType,ParameterDefaultValue,ParameterDescription,ParameterIsRequiredFlag,ParameterName
0,1,string,NaN,Comma-delimited list of 5-character geographic...,1,GeoFips
1,0,integer,NaN,Line code for a statistic or industry,1,LineCode
2,0,string,,Income or employment table to retrieve,1,TableName
3,1,string,LAST5,Comma-delimted list of years; LAST5 for latest...,0,Year

In [5]:
# access the BEA data API...
meta_data = pybea.get_parameter_values(USER_ID, DataSetName='RegionalIncome', ParameterName='TableName')

# ...display the resulting Pandas DataFrame
meta_data

                                                 Desc          Key
0                      ACPSA Compensation (NAICS) [A]   ACArtsComp
1                        ACPSA Employment (NAICS) [A]    ACArtsEmp
2                      Total Compensation (NAICS) [A]       ACComp
3     Arts Compensation Location Quotient (NAICS) [A]     ACCompLQ
4                 Arts Compensation Ratio (NAICS) [A]  ACCompRatio
5                        Total Employment (NAICS) [A]        ACEmp
6       Arts Employment Location Quotient (NAICS) [A]      ACEmpLQ
7                   Arts Employment Ratio (NAICS) [A]   ACEmpRatio
8   Personal Income Summary: Personal Income, Popu...          CA1
9   Total Full-Time and Part-Time Employment by SI...         CA25
10  Total Full-Time and Part-Time Employment by NA...        CA25N
11                Economic Profile (Non-Industry) [A]         CA30
12  Personal Current Transfer Receipts (Non-Indust...         CA35
13  Personal Income and Employment by Major Compon...          CA4
14        Farm Income and Expenses (Non-Industry) [A]         CA45
15  Personal Income by Major Component and Earning...          CA5
16  Personal Income by Major Component and Earning...         CA5N
17  Compensation of Employees by SIC Industry (SIC...          CA6
18  Compensation of Employees by NAICS Industry (N...         CA6N
19          Gross Flow of Earnings (Non-Industry) [A]         CA91
20  Implicit Regional Price Deflator (Non-Industry...        IRPD1
21            Real Personal Income (Non-Industry) [A]         RPI1
22         Regional Price Parities (Non-Industry) [A]         RPP1
23  Personal Income Summary: Personal Income, Popu...          SA1
24  Total Full-Time and Part-Time Employment by SI...         SA25
25  Total Full-Time and Part-Time Employment by NA...        SA25N
26  Full-Time and Part-Time Wage and Salary Employ...         SA27
27  Full-Time and Part-Time Wage and Salary Employ...        SA27N
28                Economic Profile (Non-Industry) [A]         SA30
29  Personal Current Transfer Receipts (Non-Indust...         SA35
30  Personal Income and Employment by Major Compon...          SA4
31                 Property Income (Non-Industry) [A]         SA40
32        Farm Income and Expenses (Non-Industry) [A]         SA45
33  Personal Income by Major Component and Earning...          SA5
34          Personal Current Taxes (Non-Industry) [A]         SA50
35  Disposable Personal Income Summary: Disposable...         SA51
36  Personal Income by Major Component and Earning...         SA5H
37  Personal Income by Major Component and Earning...         SA5N
38  Compensation of Employees by SIC Industry (SIC...          SA6
39  Compensation of Employees by NAICS Industry (N...         SA6N
40       Wages and Salaries by SIC Industry (SIC) [A]          SA7
41  Wages and Salaries by Industry (Historical) (S...         SA7H
42   Wages and Salaries by NAICS Industry (NAICS) [A]         SA7N
43  Personal Income Summary: Personal Income, Popu...          SQ1
44  Personal Current Transfer Receipts (Non-Indust...         SQ35
45  Personal Income by Major Component (Non-Indust...          SQ4
46  Personal Income by Major Component and Earning...          SQ5
47  Personal Income by Major Component and Earning...         SQ5H
48  Personal Income by Major Component and Earning...         SQ5N
49  Compensation of Employees by SIC Industry (SIC...          SQ6
50  Compensation of Employees by NAICS Industry (N...         SQ6N
51       Wages and Salaries by SIC Industry (SIC) [Q]          SQ7
52  Wages and Salaries by Industry (Historical) (S...         SQ7H
53   Wages and Salaries by NAICS Industry (NAICS) [Q]         SQ7N

## Data Retrieval API Method

The BEA API has one method for retrieving data: `GetData`. This method has its own function in the `pybea` package.

In [9]:
pybea.get_data?

# RegionalIncome

## Example Usage

Fetch data on personal income for 2012 and 2013 for all counties, in JSON format

In [14]:
data = pybea.get_data(USER_ID,
                      DataSetName='RegionalIncome',
                      TableName='CA1',
                      LineCode=1,
                      GeoFips='COUNTY',
                      Year=['2012', '2013'],
                      )

# ...display the resulting Pandas DataFrame
data.head()

,CL_UNIT,Code,DataValue,GeoFips,GeoName,NoteRef,TimePeriod,UNIT_MULT
0,thousands of dollars,CA1-1,13904485000,0,United States,NaN,2012,3
1,thousands of dollars,CA1-1,14068960000,0,United States,NaN,2013,3
2,thousands of dollars,CA1-1,172789879,1000,Alabama,NaN,2013,3
3,thousands of dollars,CA1-1,170881367,1000,Alabama,NaN,2012,3
4,thousands of dollars,CA1-1,1928597,1001,"Autauga, AL",NaN,2012,3

In [15]:
data.tail()

,CL_UNIT,Code,DataValue,GeoFips,GeoName,NoteRef,TimePeriod,UNIT_MULT
6391,thousands of dollars,CA1-1,1592627183,96000,Southwest,NaN,2012,3
6392,thousands of dollars,CA1-1,479685748,97000,Rocky Mountain,NaN,2013,3
6393,thousands of dollars,CA1-1,461347229,97000,Rocky Mountain,NaN,2012,3
6394,thousands of dollars,CA1-1,2559477354,98000,Far West,NaN,2013,3
6395,thousands of dollars,CA1-1,2525722441,98000,Far West,NaN,2012,3

## Example Usage

Real per capita personal income for all states, all years, in JSON format

In [13]:
data = pybea.get_data(USER_ID,
                      DataSetName='RegionalIncome',
                      TableName='RPI1',
                      LineCode=2,
                      GeoFips='STATE',
                      Year='ALL',
                      )

# ...display the resulting Pandas DataFrame
data.head()

,CL_UNIT,Code,DataValue,GeoFips,GeoName,TimePeriod,UNIT_MULT
0,chained (2009) dollars,RPI1-2,41055,0,United States,2008,0
1,chained (2009) dollars,RPI1-2,39376,0,United States,2009,0
2,chained (2009) dollars,RPI1-2,39622,0,United States,2010,0
3,chained (2009) dollars,RPI1-2,40762,0,United States,2011,0
4,chained (2009) dollars,RPI1-2,41714,0,United States,2012,0

In [12]:
data.tail()

,CL_UNIT,Code,DataValue,GeoFips,GeoName,TimePeriod,UNIT_MULT
359,chained (2009) dollars,RPI1-2,51993,56000,Wyoming,2012,0
360,chained (2009) dollars,RPI1-2,49248,56000,Wyoming,2011,0
361,chained (2009) dollars,RPI1-2,46730,56000,Wyoming,2010,0
362,chained (2009) dollars,RPI1-2,45464,56000,Wyoming,2009,0
363,chained (2009) dollars,RPI1-2,50597,56000,Wyoming,2008,0

# RegionalProduct

## Example Usage
Real GDP for all years for all MSAs, in JSON format

In [6]:
# access the BEA data API...
data = pybea.get_data(USER_ID,
                      DataSetName='RegionalProduct',
                      Component="RGDP_MAN",
                      IndustryId=1,
                      GeoFips="MSA",
                      Year="ALL",
                      )

# ...display the resulting Pandas DataFrame
data.head()

,CL_UNIT,Code,DataValue,GeoFips,GeoName,TimePeriod,UNIT_MULT
0,millions of chained 2009 dollars,RGDP_MAN-1,4666,10180,"Abilene, TX (Metropolitan Statistical Area)",2001,6
1,millions of chained 2009 dollars,RGDP_MAN-1,4817,10180,"Abilene, TX (Metropolitan Statistical Area)",2002,6
2,millions of chained 2009 dollars,RGDP_MAN-1,4916,10180,"Abilene, TX (Metropolitan Statistical Area)",2003,6
3,millions of chained 2009 dollars,RGDP_MAN-1,5008,10180,"Abilene, TX (Metropolitan Statistical Area)",2004,6
4,millions of chained 2009 dollars,RGDP_MAN-1,4989,10180,"Abilene, TX (Metropolitan Statistical Area)",2005,6

In [7]:
data.tail()

,CL_UNIT,Code,DataValue,GeoFips,GeoName,TimePeriod,UNIT_MULT
5725,millions of chained 2009 dollars,RGDP_MAN-1,5199,49740,"Yuma, AZ (Metropolitan Statistical Area)",2011,6
5726,millions of chained 2009 dollars,RGDP_MAN-1,4831,49740,"Yuma, AZ (Metropolitan Statistical Area)",2012,6
5727,millions of chained 2009 dollars,RGDP_MAN-1,5081,49740,"Yuma, AZ (Metropolitan Statistical Area)",2013,6
5728,millions of chained 2009 dollars,RGDP_MAN-1,4908,49740,"Yuma, AZ (Metropolitan Statistical Area)",2014,6
5729,millions of chained 2009 dollars,RGDP_MAN-1,4981,49740,"Yuma, AZ (Metropolitan Statistical Area)",2015,6

# NIPA (National Income and Product Accounts)

The NIPA dataset contains data from the standard set of NIPA tables as published in the Survey of Current Business. Availability of updated NIPA data follows the BEA News Release schedule as posted on the BEA web site. The NIPA dataset may be unavailable for a few minutes preceding the monthly GDP release while data is being updated (as it is for all other methods of acquiring newly released data).

In [8]:
# access the BEA data API...
meta_data = pybea.get_parameter_list(USER_ID, DataSetName='NIPA')

# ...display the resulting Pandas DataFrame
meta_data

,AllValue,MultipleAcceptedFlag,ParameterDataType,ParameterDefaultValue,ParameterDescription,ParameterIsRequiredFlag,ParameterName
0,,0,integer,,The standard NIPA table identifier,1,TableID
1,,1,string,,"A - Annual, Q-Quarterly, M-Monthly",1,Frequency
2,X,1,integer,,List of year(s) of data to retrieve (X for All),1,Year
3,,0,string,N,A flag indicating that million-dollar data sho...,0,ShowMillions

In [15]:
# access the BEA data API...
meta_data = pybea.get_parameter_values(USER_ID,
                                       DataSetName='NIPA',
                                       ParameterName='TableID')

# ...display the resulting Pandas DataFrame
print(meta_data)

                                           Description  TableID
0    Table 1.1.1. Percent Change From Preceding Per...        1
1    Table 1.1.2. Contributions to Percent Change i...        2
2    Table 1.1.3. Real Gross Domestic Product, Quan...        3
3    Table 1.1.4. Price Indexes for Gross Domestic ...        4
4          Table 1.1.5. Gross Domestic Product (A) (Q)        5
5    Table 1.1.6. Real Gross Domestic Product, Chai...        6
6    Table 1.1.6A. Real Gross Domestic Product, Cha...        7
7    Table 1.1.6B. Real Gross Domestic Product, Cha...        8
8    Table 1.1.6C. Real Gross Domestic Product, Cha...        9
9    Table 1.1.6D. Real Gross Domestic Product, Cha...       10
10   Table 1.1.7. Percent Change From Preceding Per...       11
11   Table 1.1.8. Contributions to Percent Change i...       12
12   Table 1.1.9. Implicit Price Deflators for Gros...       13
13   Table 1.1.10. Percentage Shares of Gross Domes...       14
14   Table 1.1.11. Real Gross Domestic Product: Per...      310
15   Table 1.2.1. Percent Change From Preceding Per...       15
16   Table 1.2.2. Contributions to Percent Change i...       16
17   Table 1.2.3. Real Gross Domestic Product by Ma...       17
18   Table 1.2.4. Price Indexes for Gross Domestic ...       18
19   Table 1.2.5. Gross Domestic Product by Major T...       19
20   Table 1.2.6. Real Gross Domestic Product by Ma...       20
21   Table 1.3.1. Percent Change From Preceding Per...       21
22   Table 1.3.3. Real Gross Value Added by Sector,...       22
23   Table 1.3.4. Price Indexes for Gross Value Add...       23
24    Table 1.3.5. Gross Value Added by Sector (A) (Q)       24
25   Table 1.3.6. Real Gross Value Added by Sector,...       25
26   Table 1.4.1. Percent Change From Preceding Per...       26
27   Table 1.4.3. Real Gross Domestic Product, Real...       27
28   Table 1.4.4. Price Indexes for Gross Domestic ...       28
29   Table 1.4.5. Relation of Gross Domestic Produc...       29
..                                                 ...      ...
282  Table 7.2.6B. Real Motor Vehicle Output, Chain...      273
283  Table 7.3.3. Real Farm Sector Output, Real Gro...      274
284  Table 7.3.4. Price Indexes for Farm Sector Out...      275
285  Table 7.3.5. Farm Sector Output, Gross Value A...      276
286  Table 7.3.6. Real Farm Sector Output, Real Gro...      277
287  Table 7.4.3. Real Housing Sector Output, Real ...      278
288  Table 7.4.4. Price Indexes for Housing Sector ...      279
289  Table 7.4.5. Housing Sector Output, Gross Valu...      280
290  Table 7.4.6. Real Housing Sector Output, Real ...      281
291  Table 7.5. Consumption of Fixed Capital by Leg...      282
292  Table 7.6. Capital Consumption Adjustment by L...      283
293  Table 7.7. Business Current Transfer Payments ...      284
294  Table 7.8. Supplements to Wages and Salaries b...      285
295  Table 7.9. Rental Income of Persons by Legal F...      286
296  Table 7.10. Dividends Paid and Received by Sec...      287
297  Table 7.11. Interest Paid and Received by Sect...      288
298  Table 7.12. Imputations in the National Income...      289
299  Table 7.13. Relation of Consumption of Fixed C...      290
300  Table 7.14. Relation of Nonfarm Proprietors' I...      291
301  Table 7.15. Relation of Net Farm Income in the...      292
302  Table 7.16. Relation of Corporate Profits, Tax...      293
303  Table 7.17. Relation of Monetary Interest Paid...      294
304  Table 7.18. Relation of Wages and Salaries in ...      295
305  Table 7.19. Comparison of Income and Outlays o...      297
306  Table 7.20. Transactions of Defined Benefit an...      296
307  Table 7.21. Transactions of Defined Benefit Pe...      392
308  Table 7.22. Transactions of Private Defined Be...      393
309  Table 7.23. Transactions of Federal Government...      394
310  Table 7.24. Transactions of State and Local Go...      395
311  Table 7.25. Transactions of Defined Contributi...      397

[312 rows x 2 columns]

# NIUnderlyingDetail (National Income and Product Accounts)

The NIUnderlyingDetail dataset contains detailed estimate data from underlying NIPA series that appear in the national income and product account (NIPA) tables as published in the Survey of Current Business.

# Fixed Assets

The FixedAssets dataset contains data from the standard set of Fixed Assets tables as published online.