# Introduction

The Bureau of Economic Analysis (BEA) publishes economic statistics in a variety of formats. This document describes the BEA Data Retrieval Application Programming Interface (API) – including detailed instructions for retrieving data and meta-data published by BEA using the pyBEA package. For more details on the BEA data API see the official [BEA API user guide](https://www.bea.gov/API/bea_web_service_api_user_guide.htm).

The pyBEA package provides a simple interface to the BEA API and includes methods for retrieving a subset of BEA statistical data, including any meta-data describing it, and loading the results into a Pandas DataFrame object for further analysis.

## Data Return Format

The BEA API returns data in one of two formats: JSON or XML (with JSON being the default). Currently the pyBEA package only supports JSON requests.

In [1]:
import pybea

## Meta-Data API Methods

The BEA API contains three methods for retrieving meta-data as follows:

1. `GetDataSetList`: retrieves a list of the datasets currently offered.
2. `GetParameterList`: retrieves a list of the parameters (required and optional) for a particular dataset.
3. `GetParameterValues`: retrieves a list of the valid values for a particular parameter.

Each of these methods has a corresponding function in the `pybea` package.

In [ ]:
pybea.get_data_set_list?

In [ ]:
pybea.get_parameter_list?

In [ ]:
pybea.get_parameter_values?

## Example Usage

In [2]:
# replace this with your BEA data API key!
USER_ID = ???

In [6]:
# access the BEA data API...
available_datasets = pybea.get_data_set_list(USER_ID)
available_datasets

                                   DatasetDescription              DatasetName
0   The RegionalData dataset is obsolete. Please u...             RegionalData
1                                Standard NIPA tables                     NIPA
2                Standard NI underlying detail tables       NIUnderlyingDetail
3                           Multinational Enterprises                      MNE
4                        Standard Fixed Assets tables              FixedAssets
5                 International Transactions Accounts                      ITA
6                   International Investment Position                      IIP
7                                     GDP by Industry            GDPbyIndustry
8                           Regional Income data sets           RegionalIncome
9                          Regional Product data sets          RegionalProduct
10                                  Input-Output Data              InputOutput
11                         Underlying GDP by Industry  UnderlyingGDPbyIndustry
12                       International Services Trade            IntlServTrade
13                  Metadata about other API datasets       APIDatasetMetaData

In [7]:
regional_income_params = pybea.get_parameter_list(USER_ID, DataSetName='RegionalIncome')
regional_income_params

,MultipleAcceptedFlag,ParameterDataType,ParameterDefaultValue,ParameterDescription,ParameterIsRequiredFlag,ParameterName
0,1,string,NaN,Comma-delimited list of 5-character geographic...,1,GeoFips
1,0,integer,NaN,Line code for a statistic or industry,1,LineCode
2,0,string,,Income or employment table to retrieve,1,TableName
3,1,string,LAST5,Comma-delimted list of years; LAST5 for latest...,0,Year

In [8]:
regional_income_geofips = pybea.get_parameter_values(USER_ID, DataSetName='RegionalIncome',
                                                     ParameterName='GeoFips')
regional_income_geofips

                                                   Desc    Key
0                                         United States      0
1                  United States (Metropolitan Portion)    998
2               United States (Nonmetropolitan Portion)    999
3                                               Alabama   1000
4                                               Autauga   1001
5                                               Baldwin   1003
6                                               Barbour   1005
7                                                  Bibb   1007
8                                                Blount   1009
9                                               Bullock   1011
10                                               Butler   1013
11                                              Calhoun   1015
12                                             Chambers   1017
13                                             Cherokee   1019
14                                              Chilton   1021
15                                              Choctaw   1023
16                                               Clarke   1025
17                                                 Clay   1027
18                                             Cleburne   1029
19                                               Coffee   1031
20                                              Colbert   1033
21                                              Conecuh   1035
22                                                Coosa   1037
23                                            Covington   1039
24                                             Crenshaw   1041
25                                              Cullman   1043
26                                                 Dale   1045
27                                               Dallas   1047
28                                               DeKalb   1049
29                                               Elmore   1051
...                                                 ...    ...
4423  Visalia-Porterville-Hanford, CA (Combined Stat...  89546
4424  Washington-Baltimore-Arlington, DC-MD-VA-WV-PA...  89548
4425  Wausau-Stevens Point-Wisconsin Rapids, WI (Com...  89554
4426  Wichita-Arkansas City-Winfield, KS (Combined S...  89556
4427  Williamsport-Lock Haven, PA (Combined Statisti...  89558
4428  Youngstown-Warren, OH-PA (Combined Statistical...  89566
4429                                        New England  91000
4430                 New England (Metropolitan Portion)  91998
4431              New England (Nonmetropolitan Portion)  91999
4432                                            Mideast  92000
4433                     Mideast (Metropolitan Portion)  92998
4434                  Mideast (Nonmetropolitan Portion)  92999
4435                                        Great Lakes  93000
4436                 Great Lakes (Metropolitan Portion)  93998
4437              Great Lakes (Nonmetropolitan Portion)  93999
4438                                             Plains  94000
4439                      Plains (Metropolitan Portion)  94998
4440                   Plains (Nonmetropolitan Portion)  94999
4441                                          Southeast  95000
4442                   Southeast (Metropolitan Portion)  95998
4443                Southeast (Nonmetropolitan Portion)  95999
4444                                          Southwest  96000
4445                   Southwest (Metropolitan Portion)  96998
4446                Southwest (Nonmetropolitan Portion)  96999
4447                                     Rocky Mountain  97000
4448              Rocky Mountain (Metropolitan Portion)  97998
4449           Rocky Mountain (Nonmetropolitan Portion)  97999
4450                                           Far West  98000
4451                    Far West (Metropolitan Portion)  98998
4452                 Far West (Nonmetropolitan Portion)  98999

[4453 rows x 2 columns]

## Data Retrieval API Method

The BEA API has one method for retrieving data: `GetData`. This method has its own function in the `pybea` package.

In [ ]:
pybea.get_data?

# NIPA (National Income and Product Accounts)

This dataset contains data from the National Income and Product Accounts which include measures of the value and composition of U.S.production and the incomes generated in producing it. NIPA data is provided on a table basis; individual tables contain between fewer than 10 to more than 200 distinct data series.

## Example Usage

Percent change in Real Gross Domestic Product, Annually and Quarterly for all years.

In [12]:
data = pybea.get_data(USER_ID,
                      DataSetName='NIPA',
                      TableName='T10101',
                      Frequency=['A', 'Q'],
                      Year='ALL',
                      )

In [13]:
data.head()

,CL_UNIT,DataValue,LineDescription,LineNumber,METRIC_NAME,SeriesCode,TableName,TimePeriod,UNIT_MULT
0,"Percent change, annual rate",-8.5,Gross domestic product,1,Fisher Quantity Index,A191RL,T10101,1930,0
1,"Percent change, annual rate",-6.4,Gross domestic product,1,Fisher Quantity Index,A191RL,T10101,1931,0
2,"Percent change, annual rate",-12.9,Gross domestic product,1,Fisher Quantity Index,A191RL,T10101,1932,0
3,"Percent change, annual rate",-1.3,Gross domestic product,1,Fisher Quantity Index,A191RL,T10101,1933,0
4,"Percent change, annual rate",10.8,Gross domestic product,1,Fisher Quantity Index,A191RL,T10101,1934,0

In [14]:
data.tail()

,CL_UNIT,DataValue,LineDescription,LineNumber,METRIC_NAME,SeriesCode,TableName,TimePeriod,UNIT_MULT
9295,"Percent change, annual rate",3.3,"Gross domestic product, current dollars",27,Current Dollars,A191RP,T10101,2017Q1,0
9296,"Percent change, annual rate",4.1,"Gross domestic product, current dollars",27,Current Dollars,A191RP,T10101,2017Q2,0
9297,"Percent change, annual rate",5.3,"Gross domestic product, current dollars",27,Current Dollars,A191RP,T10101,2017Q3,0
9298,"Percent change, annual rate",5.3,"Gross domestic product, current dollars",27,Current Dollars,A191RP,T10101,2017Q4,0
9299,"Percent change, annual rate",4.3,"Gross domestic product, current dollars",27,Current Dollars,A191RP,T10101,2018Q1,0

## Example Usage

Personal Income, Monthly, for 2015 and 2016.

In [9]:
data = pybea.get_data(USER_ID,
                      DataSetName='NIPA',
                      TableName='T20600',
                      Frequency='M',
                      Year=['2015', '2016'],
                      )

In [10]:
data.head()

,CL_UNIT,DataValue,LineDescription,LineNumber,METRIC_NAME,NoteRef,SeriesCode,TableName,TimePeriod,UNIT_MULT
0,Level,"15,240,223",Personal income,1,Current Dollars,NaN,A065RC,T20600,2015M01,6
1,Level,"15,319,982",Personal income,1,Current Dollars,NaN,A065RC,T20600,2015M02,6
2,Level,"15,342,882",Personal income,1,Current Dollars,NaN,A065RC,T20600,2015M03,6
3,Level,"15,441,635",Personal income,1,Current Dollars,NaN,A065RC,T20600,2015M04,6
4,Level,"15,531,871",Personal income,1,Current Dollars,NaN,A065RC,T20600,2015M05,6

In [11]:
data.tail()

,CL_UNIT,DataValue,LineDescription,LineNumber,METRIC_NAME,NoteRef,SeriesCode,TableName,TimePeriod,UNIT_MULT
955,Level,"323,961","Population (midperiod, thousands)",40,Persons,6,B230RC,T20600,2016M08,3
956,Level,"324,186","Population (midperiod, thousands)",40,Persons,6,B230RC,T20600,2016M09,3
957,Level,"324,400","Population (midperiod, thousands)",40,Persons,6,B230RC,T20600,2016M10,3
958,Level,"324,595","Population (midperiod, thousands)",40,Persons,6,B230RC,T20600,2016M11,3
959,Level,"324,783","Population (midperiod, thousands)",40,Persons,6,B230RC,T20600,2016M12,3

# NIUnderlyingDetail (National Income and Product Accounts)

This dataset contains underlying detail data from the National Income and Product Accounts which include measures of the value and composition of U.S.production and the incomes generated in producing it. NIPA Underlying Detail data is provided on a table basis; individual tables contain between fewer than 10 to more than 200 distinct data series.

## Example Usage

Personal Conumption Expenditures, Current Dollars, Annually, Quarterly and Monthly for all years.

In [19]:
data = pybea.get_data(USER_ID,
                      DataSetName='NIUnderlyingDetail',
                      TableName='U20305',
                      Frequency=['A', 'Q', 'M'],
                      Year='ALL',
                      )

In [20]:
data.head()

,CL_UNIT,DataValue,LineDescription,LineNumber,METRIC_NAME,NoteRef,SeriesCode,TableName,TimePeriod,UNIT_MULT
0,Level,"317,508",Personal consumption expenditures (PCE),1,Current Dollars,NaN,DPCERC,U20305,1959,6
1,Level,"331,578",Personal consumption expenditures (PCE),1,Current Dollars,NaN,DPCERC,U20305,1960,6
2,Level,"341,966",Personal consumption expenditures (PCE),1,Current Dollars,NaN,DPCERC,U20305,1961,6
3,Level,"363,108",Personal consumption expenditures (PCE),1,Current Dollars,NaN,DPCERC,U20305,1962,6
4,Level,"382,482",Personal consumption expenditures (PCE),1,Current Dollars,NaN,DPCERC,U20305,1963,6

In [21]:
data.tail()

,CL_UNIT,DataValue,LineDescription,LineNumber,METRIC_NAME,NoteRef,SeriesCode,TableName,TimePeriod,UNIT_MULT
45365,Level,"48,747",Less: Receipts from sales of goods and service...,46,Current Dollars,3,DNPSRC,U20305,1975M04,6
45366,Level,"49,576",Less: Receipts from sales of goods and service...,46,Current Dollars,3,DNPSRC,U20305,1975M05,6
45367,Level,"49,741",Less: Receipts from sales of goods and service...,46,Current Dollars,3,DNPSRC,U20305,1975M06,6
45368,Level,"50,375",Less: Receipts from sales of goods and service...,46,Current Dollars,3,DNPSRC,U20305,1975M07,6
45369,Level,"50,766",Less: Receipts from sales of goods and service...,46,Current Dollars,3,DNPSRC,U20305,1975M08,6

## Example Usage

Auto and Truck Unit Sales, Production, Inventories, Expenditures and Price, Monthly, for 2015 and 2016.

In [22]:
data = pybea.get_data(USER_ID,
                      DataSetName='NIUnderlyingDetail',
                      TableName='U70205S',
                      Frequency='M',
                      Year=['2015', '2016'],
                      )

In [23]:
data.head()

,CL_UNIT,DataValue,LineDescription,LineNumber,METRIC_NAME,NoteRef,SeriesCode,TableName,TimePeriod,UNIT_MULT
0,Level,514.9,Total,1,Physical Quantity,NaN,NSAT,U70205S,2015M01,3
1,Level,557.6,Total,1,Physical Quantity,NaN,NSAT,U70205S,2015M02,3
2,Level,716.8,Total,1,Physical Quantity,NaN,NSAT,U70205S,2015M03,3
3,Level,645.3,Total,1,Physical Quantity,NaN,NSAT,U70205S,2015M04,3
4,Level,746.8,Total,1,Physical Quantity,NaN,NSAT,U70205S,2015M05,3

In [24]:
data.tail()

,CL_UNIT,DataValue,LineDescription,LineNumber,METRIC_NAME,NoteRef,SeriesCode,TableName,TimePeriod,UNIT_MULT
1051,Level,143.640,Consumer price index for new autos,46,Fixed Weighted Price Index,NaN,CPA43,U70205S,2016M08,0
1052,Level,143.741,Consumer price index for new autos,46,Fixed Weighted Price Index,NaN,CPA43,U70205S,2016M09,0
1053,Level,143.912,Consumer price index for new autos,46,Fixed Weighted Price Index,NaN,CPA43,U70205S,2016M10,0
1054,Level,143.880,Consumer price index for new autos,46,Fixed Weighted Price Index,NaN,CPA43,U70205S,2016M11,0
1055,Level,143.521,Consumer price index for new autos,46,Fixed Weighted Price Index,NaN,CPA43,U70205S,2016M12,0

# Fixed Assets

The FixedAssets dataset contains data from the standard set of Fixed Assets tables as published online.

In [15]:
data = pybea.get_data(USER_ID,
                      DataSetName='FixedAssets',
                      TableID='16',
                      Year='2012',
                      )

In [16]:
data.head()

,CL_UNIT,DataValue,LineDescription,LineNumber,NoteRef,SeriesCode,TableID,TimePeriod,UNIT_MULT
0,USD,"53,654.9",Fixed assets and consumer durable goods,1,16,k1wtotl1es00,16,2012,9
1,USD,"48,806.0",Fixed assets,2,16,k1ttotl1es00,16,2012,9
2,USD,"36,284.0",Private,3,16,k1ptotl1es00,16,2012,9
3,USD,"19,920.5",Nonresidential,4,16,k1ntotl1es00,16,2012,9
4,USD,"5,670.6",Equipment,5,16,k1ntotl1eq00,16,2012,9

In [17]:
data.tail()

,CL_UNIT,DataValue,LineDescription,LineNumber,NoteRef,SeriesCode,TableID,TimePeriod,UNIT_MULT
19,USD,"3,383.4",Intellectual property products,20,16,k1ytotl1ip00,16,2012,9
20,USD,"16,711.6",Residential,21,16,k1x53101es00,16,2012,9
21,USD,"12,521.9",Government fixed assets,22,16,k1gtotl1es00,16,2012,9
22,USD,"3,137.2",Federal,23,16,k1gfedr1es00,16,2012,9
23,USD,"9,384.7",State and local,24,16,k1gstlc1es00,16,2012,9

# Direct Investment and Multinational Enterprises (MNE)

This dataset contains two types of statistics:

* **Direct Investment (DI)** Income and financial transactions in direct investment that underlie the U.S. balance of payments statistics, and direct investment positions that underlie the U.S. international investment positions.
* **Activities of Multinational Enterprises (AMNE)** Operations and finances of U.S. parent enterprises and their foreign affiliates and U.S. affiliates of foreign MNEs.

API requests for the two types of statistics share most of the same parameters, though the allowable values for each parameter may be different, depending on the type of statistic desired (e.g., DI or AMNE).

## Example Usage

U.S. direct investment position in China and Asia for 2011 and 2012.

In [25]:
data = pybea.get_data(USER_ID,
                      DataSetName='MNE',
                      Year=['2011', '2012'],
                      Country=[650, 699],
                      DirectionOfInvestment='Outward',
                      Classification='Country',
                      )

In [26]:
data.head()

,Column,ColumnCode,ColumnGParent,ColumnGParentCode,ColumnParent,ColumnParentCode,DataValue,DataValueUnformatted,Row,RowCode,SeriesID,SeriesName,TableColumnDisplayOrder,TableRowDisplayOrder,TableScale,Year
0,Debt Outflows,0,None,0,None,0,"-3,381",-3381,Asia and Pacific,699,33,Debt Instruments Outflows,1.00,64.00,Millions of Dollars,2011
1,Debt Outflows,0,None,0,None,0,"12,916",12916,Asia and Pacific,699,33,Debt Instruments Outflows,1.00,64.00,Millions of Dollars,2012
2,Equity Outflows,0,None,0,None,0,"-1,498",-1498,Asia and Pacific,699,32,Equity Outflows Other than Reinvestment of Ear...,1.00,64.00,Millions of Dollars,2011
3,Equity Outflows,0,None,0,None,0,"-10,626",-10626,Asia and Pacific,699,32,Equity Outflows Other than Reinvestment of Ear...,1.00,64.00,Millions of Dollars,2012
4,Reinvestment of Earnings,0,None,0,None,0,"40,444",40444,Asia and Pacific,699,25,Reinvestment of Earnings Without Current-Cost ...,1.00,64.00,Millions of Dollars,2011

In [27]:
data.tail()

,Column,ColumnCode,ColumnGParent,ColumnGParentCode,ColumnParent,ColumnParentCode,DataValue,DataValueUnformatted,Row,RowCode,SeriesID,SeriesName,TableColumnDisplayOrder,TableRowDisplayOrder,TableScale,Year
19,Financial Outflows,0,None,0,None,0,"-1,720",-1720,China,650,31,Financial Outflow Transactions Without Current...,1.00,194.00,Millions of Dollars,2011
20,Income,0,None,0,None,0,"5,995",5995,China,650,27,Direct Investment Income Without Current-Cost ...,1.00,194.00,Millions of Dollars,2012
21,Income,0,None,0,None,0,"8,938",8938,China,650,27,Direct Investment Income Without Current-Cost ...,1.00,194.00,Millions of Dollars,2011
22,Position,0,None,0,None,0,"53,661",53661,China,650,30,U.S. Direct Investment Position Abroad on a Hi...,1.00,194.00,Millions of Dollars,2011
23,Position,0,None,0,None,0,"54,514",54514,China,650,30,U.S. Direct Investment Position Abroad on a Hi...,1.00,194.00,Millions of Dollars,2012

## Example Usage

Foreign direct investment position in the U.S. from Germany in the manufacturing industry for the years 2010 - 2013.

In [29]:
data = pybea.get_data(USER_ID,
                      DataSetName='MNE',
                      SeriesId=[22, 23, 24, 25, 26, 27],
                      Year=['2010', '2011', '2012', '2013'],
                      Country=308,
                      Industry=3000,
                      DirectionOfInvestment='Inward',
                      Classification='CountryByIndustry',
                      )

In [30]:
data.head()

,Column,ColumnCode,ColumnGParent,ColumnGParentCode,ColumnParent,ColumnParentCode,DataValue,DataValueUnformatted,Row,RowCode,SeriesID,SeriesName,TableColumnDisplayOrder,TableRowDisplayOrder,TableScale,Year
0,Total Manufacturing,3000,None,0,Manufacturing,3000,"-5,422",-5422,Germany,308,26,Debt Instruments Inflows,2.00,10.00,Millions of Dollars,2012
1,Total Manufacturing,3000,None,0,Manufacturing,3000,"1,144",1144,Germany,308,26,Debt Instruments Inflows,2.00,10.00,Millions of Dollars,2011
2,Total Manufacturing,3000,None,0,Manufacturing,3000,"1,467",1467,Germany,308,24,Equity Inflows Other than Reinvestment of Earn...,2.00,10.00,Millions of Dollars,2011
3,Total Manufacturing,3000,None,0,Manufacturing,3000,"1,614",1614,Germany,308,24,Equity Inflows Other than Reinvestment of Earn...,2.00,10.00,Millions of Dollars,2012
4,Total Manufacturing,3000,None,0,Manufacturing,3000,"19,240",19240,Germany,308,23,Financial Inflow Transactions Without Current-...,2.00,10.00,Millions of Dollars,2010

In [31]:
data.tail()

,Column,ColumnCode,ColumnGParent,ColumnGParentCode,ColumnParent,ColumnParentCode,DataValue,DataValueUnformatted,Row,RowCode,SeriesID,SeriesName,TableColumnDisplayOrder,TableRowDisplayOrder,TableScale,Year
211,Other Manufacturing,3999,None,0,Manufacturing,3000,608,608,Germany,308,23,Financial Inflow Transactions Without Current-...,10.00,10.00,Millions of Dollars,2010
212,Other Manufacturing,3999,None,0,Manufacturing,3000,"7,071",7071,Germany,308,22,Foreign Direct Investment Position in the Unit...,10.00,10.00,Millions of Dollars,2010
213,Other Manufacturing,3999,None,0,Manufacturing,3000,"7,860",7860,Germany,308,22,Foreign Direct Investment Position in the Unit...,10.00,10.00,Millions of Dollars,2011
214,Other Manufacturing,3999,None,0,Manufacturing,3000,"7,924",7924,Germany,308,22,Foreign Direct Investment Position in the Unit...,10.00,10.00,Millions of Dollars,2013
215,Other Manufacturing,3999,None,0,Manufacturing,3000,838,838,Germany,308,23,Financial Inflow Transactions Without Current-...,10.00,10.00,Millions of Dollars,2011

## Example Usage

Net income and sales for Brazilian affiliates of U.S. parent enterprises, all industries, 2011 and 2012.

In [32]:
data = pybea.get_data(USER_ID,
                      DataSetName='MNE',
                      SeriesId=[4, 5],
                      Year=['2011', '2012'],
                      Country=202,
                      Industry='ALL',
                      Classification='CountryByIndustry',
                      DirectionOfInvestment='Outward',
                      NonBankAffiliatesOnly=0,
                      OwnershipLevel=0,
                      )

In [33]:
data.head()

,Column,ColumnCode,ColumnGParent,ColumnGParentCode,ColumnParent,ColumnParentCode,DataValue,DataValueUnformatted,Row,RowCode,SeriesID,SeriesName,TableColumnDisplayOrder,TableRowDisplayOrder,TableScale,Year
0,All Industries Total,0,None,0,None,0,"10,407",10407,Brazil,202,5,Net Income,1.00,1.29,Millions of Dollars,2012
1,All Industries Total,0,None,0,None,0,"13,084",13084,Brazil,202,5,Net Income,1.00,1.29,Millions of Dollars,2011
2,All Industries Total,0,None,0,None,0,"200,364",200364,Brazil,202,4,Total Sales,1.00,1.29,Millions of Dollars,2012
3,All Industries Total,0,None,0,None,0,"202,988",202988,Brazil,202,4,Total Sales,1.00,1.29,Millions of Dollars,2011
4,Mining,2100,None,0,None,0,"1,140",1140,Brazil,202,5,Net Income,2.00,1.29,Millions of Dollars,2011

In [34]:
data.tail()

,Column,ColumnCode,ColumnGParent,ColumnGParentCode,ColumnParent,ColumnParentCode,DataValue,DataValueUnformatted,Row,RowCode,SeriesID,SeriesName,TableColumnDisplayOrder,TableRowDisplayOrder,TableScale,Year
59,"Professional, scientific, and technical services",5400,None,0,None,0,"6,090",6090,Brazil,202,4,Total Sales,15.00,1.29,Millions of Dollars,2012
60,Other Industries,9999,None,0,None,0,(D),,Brazil,202,4,Total Sales,16.00,1.29,Millions of Dollars,2011
61,Other Industries,9999,None,0,None,0,(D),,Brazil,202,4,Total Sales,16.00,1.29,Millions of Dollars,2012
62,Other Industries,9999,None,0,None,0,"2,064",2064,Brazil,202,5,Net Income,16.00,1.29,Millions of Dollars,2011
63,Other Industries,9999,None,0,None,0,"2,343",2343,Brazil,202,5,Net Income,16.00,1.29,Millions of Dollars,2012

## Example Usage

Total employment in U.S. affiliates of foreign-owned enterprises, all countries, 2011, include footnotes.

In [35]:
data = pybea.get_data(USER_ID,
                      DataSetName='MNE',
                      SeriesId=8,
                      Year='2011',
                      Country='ALL',
                      Industry='0000',
                      Classification='Country',
                      DirectionOfInvestment='Inward',
                      NonBankAffiliatesOnly=0,
                      OwnershipLevel=0,
                      GetFootnotes='Yes'
                      )

In [36]:
data.head()

,Column,ColumnCode,ColumnGParent,ColumnGParentCode,ColumnParent,ColumnParentCode,DataValue,DataValueUnformatted,Row,RowCode,SeriesID,SeriesName,TableColumnDisplayOrder,TableRowDisplayOrder,TableScale,Year
0,Employees,0,None,0,None,0,"5,699.4",5699.4,All Countries Total,000,8,Employment,1.00,1.00,Thousands of Employees,2011
1,Employees,0,None,0,None,0,550.5,550.5,Canada,100,8,Employment,1.00,15.00,Thousands of Employees,2011
2,Employees,0,None,0,None,0,"3,791.8",3791.8,Europe,399,8,Employment,1.00,20.00,Thousands of Employees,2011
3,Employees,0,None,0,None,0,160.8,160.8,Belgium,302,8,Employment,1.00,25.00,Thousands of Employees,2011
4,Employees,0,None,0,None,0,28.5,28.5,Denmark,305,8,Employment,1.00,30.00,Thousands of Employees,2011

In [37]:
data.tail()

,Column,ColumnCode,ColumnGParent,ColumnGParentCode,ColumnParent,ColumnParentCode,DataValue,DataValueUnformatted,Row,RowCode,SeriesID,SeriesName,TableColumnDisplayOrder,TableRowDisplayOrder,TableScale,Year
134,Employees,0,None,0,None,0,(*),,Vietnam,653,8,Employment,1.00,1135.00,Thousands of Employees,2011
135,Employees,0,None,0,None,0,70.4,70.4,United States,199,8,Employment,1.00,1140.00,Thousands of Employees,2011
136,Employees,0,None,0,None,0,,,Addenda:,,8,Employment,1.00,1145.00,Thousands of Employees,2011
137,Employees,0,None,0,None,0,"3,304.1",3304.1,European Union,398,8,Employment,1.00,1150.00,Thousands of Employees,2011
138,Employees,0,None,0,None,0,24.5,24.5,OPEC,899,8,Employment,1.00,1155.00,Thousands of Employees,2011

# GDPbyIndustry

The gross domestic product by industry data are contained within a dataset called GDPbyIndustry. BEA's industry accounts are used extensively by policymakers and businesses to understand industry interactions, productivity trends, and the changing structure of the U.S. economy. The GDP-by-industry dataset includes data in both current and chained (real) dollars. 

## Example Usage

Annual Value Added by Industry data for all industries for years 2011 and 2012.

In [39]:
data = pybea.get_data(USER_ID,
                      DataSetName='GDPbyIndustry',
                      Year=['2011', '2012'],
                      Industry='ALL',
                      TableID=1,
                      Frequency='A',
                      )

In [40]:
data.head()

,DataValue,Frequency,IndustrYDescription,Industry,NoteRef,Quarter,TableID,Year
0,197.2,A,"Agriculture, forestry, fishing, and hunting",11,1,2011,1,2011
1,166.2,A,Farms,111CA,1,2011,1,2011
2,31.0,A,"Forestry, fishing, and related activities",113FF,1,2011,1,2011
3,398.6,A,Mining,21,1,2011,1,2011
4,252.5,A,Oil and gas extraction,211,1,2011,1,2011

In [41]:
data.tail()

,DataValue,Frequency,IndustrYDescription,Industry,NoteRef,Quarter,TableID,Year
195,357.3,A,Other real estate,ORE,1,2012,1,2012
196,3164.0,A,Private goods-producing industries [1],PGOOD,1;1.1.A,2012,1,2012
197,1912.6,A,Professional and business services,PROF,1,2012,1,2012
198,10793.5,A,Private services-producing industries [2],PSERV,1;1.2.A,2012,1,2012
199,13957.5,A,Private industries,PVT,1,2012,1,2012

# International Transactions (ITA)

This dataset contains data on U.S. international transactions. BEA's international transactions (balance of payments) accounts include all transactions between U.S. and foreign residents.

## Example Usage

Balance on goods with China for 2011 and 2012.

In [ ]:
data = pybea.get_data(USER_ID,
                      DataSetName='ITA',
                      Indicator='BalGds',
                      AreaOrCountry='China',
                      Frequency='A',
                      Year=['2011', '2012'],
                      )

In [ ]:
data.head()

## Example Usage

Net U.S. acquisition of portfolio investment assets (quarterly not seasonally adjusted) for 2013.

In [ ]:
data = pybea.get_data(USER_ID,
                      DataSetName='ITA',
                      Indicator='PfInvAssets',
                      AreaOrCountry='AllCountries',
                      Frequency='QNSA',
                      Year='2013',
                      )

In [ ]:
data.head()

# International Investment Positions (IIP)

This dataset contains data on the U.S. international investment position. BEA's international investment position accounts include the end of period value of accumulated stocks of U.S. financial assets and liabilities. 

## Example Usage

U.S. assets excluding financial derivatives; change in position attributable to price changes for all available years.

In [50]:
pybea.get_data_set_list(USER_ID)

                                   DatasetDescription              DatasetName
0   The RegionalData dataset is obsolete. Please u...             RegionalData
1                                Standard NIPA tables                     NIPA
2                Standard NI underlying detail tables       NIUnderlyingDetail
3                           Multinational Enterprises                      MNE
4                        Standard Fixed Assets tables              FixedAssets
5                 International Transactions Accounts                      ITA
6                   International Investment Position                      IIP
7                                     GDP by Industry            GDPbyIndustry
8                           Regional Income data sets           RegionalIncome
9                          Regional Product data sets          RegionalProduct
10                                  Input-Output Data              InputOutput
11                         Underlying GDP by Industry  UnderlyingGDPbyIndustry
12                       International Services Trade            IntlServTrade
13                  Metadata about other API datasets       APIDatasetMetaData

In [51]:
pybea.get_parameter_list(USER_ID, DataSetName="IIP")

,AllValue,MultipleAcceptedFlag,ParameterDataType,ParameterDefaultValue,ParameterDescription,ParameterIsRequiredFlag,ParameterName
0,ALL,1,string,ALL,Type of investment,0,TypeOfInvestment
1,ALL,1,string,ALL,Component of changes in position,0,Component
2,ALL,1,string,ALL,"A - Annual, QNSA - Quarterly not seasonally ad...",0,Frequency
3,ALL,1,string,ALL,Year requested,0,Year

In [57]:
pybea.get_parameter_values(USER_ID, DataSetName="IIP", ParameterName="Frequency")

                                Desc   Key
0                             Annual     A
1  Quarterly not seasonally adjusted  QNSA

In [3]:
data = pybea.get_data(USER_ID,
                      DataSetName='IIP',
                      TypeOfInvestment='FinAssetsExclFinDeriv',
                      Component='ChgPosPrice',
                      Frequency='A',
                      Year='ALL',
                      )

KeyError: 'Data'

## Example Usage

U.S. liabilities to foreign official agencies (quarterly not seasonally adjusted) for 2013.

In [4]:
data = pybea.get_data(USER_ID,
                      DataSetName='IIP',
                      TypeOfInvestment='FinLiabsFoa',
                      Component='Pos',
                      Frequency='QNSA',
                      Year='2013',
                      )

KeyError: 'Data'

In [ ]:
data.head()

In [ ]:
data.tail()

# RegionalIncome

## Example Usage

Fetch data on personal income for 2012 and 2013 for all counties, in JSON format

In [ ]:
data = pybea.get_data(USER_ID,
                      DataSetName='RegionalIncome',
                      TableName='CA1',
                      LineCode=1,
                      GeoFips='COUNTY',
                      Year=['2012', '2013'],
                      )

In [ ]:
data.head()

In [ ]:
data.tail()

# RegionalProduct

## Example Usage

Real GDP for all years for all MSAs, in JSON format

In [ ]:
data = pybea.get_data(USER_ID,
                      DataSetName='RegionalProduct',
                      Component="RGDP_MAN",
                      IndustryId=1,
                      GeoFips="MSA",
                      Year="ALL",
                      )

In [ ]:
data.head()

In [ ]:
data.tail()

## Example Usage

GDP for 2012 and 2013 for selected Southeast states, for the Retail Trade industry.

In [ ]:
southeast_states = ["01000", "05000", "12000", "13000", "21000", "22000", 
                    "28000", "37000", "45000", "47000", "51000", "54000"]
data = pybea.get_data(USER_ID,
                      DataSetName='RegionalProduct',
                      Component="GDP_sAN",
                      IndustryId=35,
                      GeoFips=southeast_states,
                      Year=["2013", "2013"],
                      )

In [ ]:
data.head()

In [ ]:
data.tail()

# InputOutput

The Input-Output Statistics are contained within a dataset called InputOutput. BEA's industry accounts are used extensively by policymakers and businesses to understand industry interactions, productivity trends, and the changing structure of the U.S. economy. The input-output accounts provide a detailed view of the interrelationships between U.S. producers and users. 

## Example Usage

Data from The Use of Commodities by Industries, Before Redefinitions (Producer’s Prices) sector level table for years 2010, 2011, and 2012.

In [ ]:
data = pybea.get_data(USER_ID,
                      DataSetName='InputOutput',
                      TableID=2,
                      Year=['2010', '2011', '2012', '2013'],
                      )

In [ ]:
data.head()

In [ ]:
data.tail()

## Example Usage

Data for 2007 from The Make of Commodities by Industries, Before Redefinitions sector and summary level tables.

In [ ]:
data = pybea.get_data(USER_ID,
                      DataSetName='InputOutput',
                      TableID=[46, 47],
                      Year='2007'
                      )

In [ ]:
data.head()

In [ ]:
data.tail()

# Underlying GDP by Industry (UnderlyingGDPbyIndustry)

The underlying gross domestic product by industry data are contained within a dataset called UnderlyingGDPbyIndustry. BEA's industry accounts are used extensively by policymakers and businesses to understand industry interactions, productivity trends, and the changing structure of the U.S. economy. The underlying GDP-by-industry dataset includes data in both current and chained (real) dollars. The dataset contains estimates for value added, gross output, and intermediate input statistics. This dataset is structurally similar to the GDPbyIndustry dataset (Appendix F), but contains additional industry detail.

## Example Usage

Quarterly Value Added by Industry data for all industries for years 2012 and 2013.

In [6]:
data = pybea.get_data(USER_ID,
                      DataSetName='UnderlyingGDPbyIndustry',
                      TableID=1,
                      Industry='ALL',
                      Frequency='Q',
                      Year=['2012', '2013']
                      )

In [7]:
data.head()

,DataValue,Frequency,IndustrYDescription,Industry,NoteRef,Quarter,TableID,Year
0,189.0,Q,"Agriculture, forestry, fishing, and hunting",11,1,I,1,2012
1,155.3,Q,Farms,111CA,1,I,1,2012
2,33.7,Q,"Forestry, fishing, and related activities",113FF,1,I,1,2012
3,418.0,Q,Mining,21,1,I,1,2012
4,270.6,Q,Oil and gas extraction,211,1,I,1,2012

In [8]:
data.tail()

,DataValue,Frequency,IndustrYDescription,Industry,NoteRef,Quarter,TableID,Year
787,401.3,Q,Other real estate,ORE,1,IV,1,2013
788,3386.5,Q,Private goods-producing industries [1],PGOOD,1;1.1.Q,IV,1,2013
789,2004.5,Q,Professional and business services,PROF,1,IV,1,2013
790,11376.5,Q,Private services-producing industries [2],PSERV,1;1.2.Q,IV,1,2013
791,14763.0,Q,Private industries,PVT,1,IV,1,2013

## Example Usage

All quarterly data in all tables for the Agriculture industry in 2012.

In [9]:
data = pybea.get_data(USER_ID,
                      DataSetName='UnderlyingGDPbyIndustry',
                      TableID='ALL',
                      Industry=11,
                      Frequency='Q',
                      Year='2012'
                      )

JSONDecodeError: Invalid control character at: line 1 column 18229 (char 18228)

In [ ]:
data.head()

# International Services Trade (IntlServTrade)

The DataSetName is IntlServTrade. This dataset contains annual data on U.S. international trade in services. These data are updated each October to reflect the International Transactions Accounts annual update released in June. BEA's statistics on services supplied through affiliates by multinational enterprises are not included in this dataset.

# Example Usage

Imports of services from Germany for 2014 and 2015.

In [10]:
data = pybea.get_data(USER_ID,
                      DataSetName='IntlServTrade',
                      TypeOfService='AllServiceTypes',
                      TradeDirection='Imports',
                      Affiliation='AllAffiliations',
                      AreaOfCountry='Germany',
                      Year=['2014', '2015']
                      )

In [11]:
data.head()

,Affiliation,AreaOrCountry,CL_UNIT,DataValue,NoteRef,TimePeriod,TimeSeriesDescription,TimeSeriesId,TradeDirection,TypeOfService,UNIT_MULT,Year
0,AllAffiliations,AllCountries,USD,480761,,2014,Imports of services; all countries,TSI_IstAllTypesImpAllCountriesAllAff_A,Imports,AllServiceTypes,6,2014
1,AllAffiliations,AllCountries,USD,491740,,2015,Imports of services; all countries,TSI_IstAllTypesImpAllCountriesAllAff_A,Imports,AllServiceTypes,6,2015

## Example Usage

Exports of telecommunications services by U.S. parents to their foreign affiliates for all years.

In [12]:
data = pybea.get_data(USER_ID,
                      DataSetName='IntlServTrade',
                      TypeOfService='Telecom',
                      TradeDirection='Exports',
                      Affiliation='UsParents',
                      AreaOfCountry='AllCountries',
                      Year='ALL'
                      )

In [13]:
data.head()

,Affiliation,AreaOrCountry,CL_UNIT,DataValue,NoteRef,TimePeriod,TimeSeriesDescription,TimeSeriesId,TradeDirection,TypeOfService,UNIT_MULT,Year
0,UsParents,AllCountries,USD,,n.a.,1999,Exports of telecommunications services; all co...,TSI_IstTelecomExpAllCountriesUsPar_A,Exports,Telecom,6,1999
1,UsParents,AllCountries,USD,,n.a.,2000,Exports of telecommunications services; all co...,TSI_IstTelecomExpAllCountriesUsPar_A,Exports,Telecom,6,2000
2,UsParents,AllCountries,USD,,n.a.,2001,Exports of telecommunications services; all co...,TSI_IstTelecomExpAllCountriesUsPar_A,Exports,Telecom,6,2001
3,UsParents,AllCountries,USD,,n.a.,2002,Exports of telecommunications services; all co...,TSI_IstTelecomExpAllCountriesUsPar_A,Exports,Telecom,6,2002
4,UsParents,AllCountries,USD,,n.a.,2003,Exports of telecommunications services; all co...,TSI_IstTelecomExpAllCountriesUsPar_A,Exports,Telecom,6,2003

In [14]:
data.tail()

,Affiliation,AreaOrCountry,CL_UNIT,DataValue,NoteRef,TimePeriod,TimeSeriesDescription,TimeSeriesId,TradeDirection,TypeOfService,UNIT_MULT,Year
13,UsParents,AllCountries,USD,,D,2012,Exports of telecommunications services; all co...,TSI_IstTelecomExpAllCountriesUsPar_A,Exports,Telecom,6,2012
14,UsParents,AllCountries,USD,7263,,2013,Exports of telecommunications services; all co...,TSI_IstTelecomExpAllCountriesUsPar_A,Exports,Telecom,6,2013
15,UsParents,AllCountries,USD,6998,,2014,Exports of telecommunications services; all co...,TSI_IstTelecomExpAllCountriesUsPar_A,Exports,Telecom,6,2014
16,UsParents,AllCountries,USD,7066,,2015,Exports of telecommunications services; all co...,TSI_IstTelecomExpAllCountriesUsPar_A,Exports,Telecom,6,2015
17,UsParents,AllCountries,USD,7034,,2016,Exports of telecommunications services; all co...,TSI_IstTelecomExpAllCountriesUsPar_A,Exports,Telecom,6,2016