# Introduction

The Bureau of Economic Analysis (BEA) publishes economic statistics in a variety of formats. This document describes the BEA Data Retrieval Application Programming Interface (API) – including detailed instructions for retrieving data and meta-data published by BEA using the pyBEA package. 

The pyBEA pacakge provides a simple interface to the BEA API and includes methods for retrieving a subset of BEA statistical data, including any meta-data describing it, and loading the results into a Pandas DataFrame object for further analysis.

## Data Return Format
The BEA API returns data in one of two formats: JSON or XML (with JSON being the default). Currently the pyBEA package only supports JSON requests.

In [13]:
import pybea

## Meta-Data API Methods

The BEA API contains three methods for retrieving meta-data as follows:

1. `GetDataSetList`: retrieves a list of the datasets currently offered.
2. `GetParameterList`: retrieves a list of the parameters (required and optional) for a particular dataset.
3. `GetParameterValues`: retrieves a list of the valid values for a particular parameter.

Each of these methods has a corresponding function in the `pybea` package.

In [5]:
pybea.get_data_set_list?

In [6]:
pybea.get_parameter_list?

In [4]:
pybea.get_parameter_values?

### Example usage

In [14]:
# replace this with your BEA data API key!
USER_ID = '98A0A0A7-21DF-4B75-96DE-1410D47AB280'

In [15]:
# access the BEA data API...
available_datasets = pybea.get_data_set_list(USER_ID)
available_datasets

                                   DatasetDescription              DatasetName
0   The RegionalData dataset is obsolete. Please u...             RegionalData
1                                Standard NIPA tables                     NIPA
2                Standard NI underlying detail tables       NIUnderlyingDetail
3                           Multinational Enterprises                      MNE
4                        Standard Fixed Assets tables              FixedAssets
5                 International Transactions Accounts                      ITA
6                   International Investment Position                      IIP
7                                     GDP by Industry            GDPbyIndustry
8                           Regional Income data sets           RegionalIncome
9                          Regional Product data sets          RegionalProduct
10                                  Input-Output Data              InputOutput
11                         Underlying GDP by Industry  UnderlyingGDPbyIndustry
12                       International Services Trade            IntlServTrade
13                  Metadata about other API datasets       APIDatasetMetaData

In [16]:
regional_income_params = pybea.get_parameter_list(USER_ID, DataSetName='RegionalIncome')
regional_income_params

,MultipleAcceptedFlag,ParameterDataType,ParameterDefaultValue,ParameterDescription,ParameterIsRequiredFlag,ParameterName
0,1,string,NaN,Comma-delimited list of 5-character geographic...,1,GeoFips
1,0,integer,NaN,Line code for a statistic or industry,1,LineCode
2,0,string,,Income or employment table to retrieve,1,TableName
3,1,string,LAST5,Comma-delimted list of years; LAST5 for latest...,0,Year

In [18]:
regional_income_geofips = pybea.get_parameter_values(USER_ID, DataSetName='RegionalIncome',
                                                     ParameterName='GeoFips')
regional_income_geofips

                                                   Desc    Key
0                                         United States      0
1                  United States (Metropolitan Portion)    998
2               United States (Nonmetropolitan Portion)    999
3                                               Alabama   1000
4                                               Autauga   1001
5                                               Baldwin   1003
6                                               Barbour   1005
7                                                  Bibb   1007
8                                                Blount   1009
9                                               Bullock   1011
10                                               Butler   1013
11                                              Calhoun   1015
12                                             Chambers   1017
13                                             Cherokee   1019
14                                              Chilton   1021
15                                              Choctaw   1023
16                                               Clarke   1025
17                                                 Clay   1027
18                                             Cleburne   1029
19                                               Coffee   1031
20                                              Colbert   1033
21                                              Conecuh   1035
22                                                Coosa   1037
23                                            Covington   1039
24                                             Crenshaw   1041
25                                              Cullman   1043
26                                                 Dale   1045
27                                               Dallas   1047
28                                               DeKalb   1049
29                                               Elmore   1051
...                                                 ...    ...
4423  Visalia-Porterville-Hanford, CA (Combined Stat...  89546
4424  Washington-Baltimore-Arlington, DC-MD-VA-WV-PA...  89548
4425  Wausau-Stevens Point-Wisconsin Rapids, WI (Com...  89554
4426  Wichita-Arkansas City-Winfield, KS (Combined S...  89556
4427  Williamsport-Lock Haven, PA (Combined Statisti...  89558
4428  Youngstown-Warren, OH-PA (Combined Statistical...  89566
4429                                        New England  91000
4430                 New England (Metropolitan Portion)  91998
4431              New England (Nonmetropolitan Portion)  91999
4432                                            Mideast  92000
4433                     Mideast (Metropolitan Portion)  92998
4434                  Mideast (Nonmetropolitan Portion)  92999
4435                                        Great Lakes  93000
4436                 Great Lakes (Metropolitan Portion)  93998
4437              Great Lakes (Nonmetropolitan Portion)  93999
4438                                             Plains  94000
4439                      Plains (Metropolitan Portion)  94998
4440                   Plains (Nonmetropolitan Portion)  94999
4441                                          Southeast  95000
4442                   Southeast (Metropolitan Portion)  95998
4443                Southeast (Nonmetropolitan Portion)  95999
4444                                          Southwest  96000
4445                   Southwest (Metropolitan Portion)  96998
4446                Southwest (Nonmetropolitan Portion)  96999
4447                                     Rocky Mountain  97000
4448              Rocky Mountain (Metropolitan Portion)  97998
4449           Rocky Mountain (Nonmetropolitan Portion)  97999
4450                                           Far West  98000
4451                    Far West (Metropolitan Portion)  98998
4452                 Far West (Nonmetropolitan Portion)  98999

[4453 rows x 2 columns]

## Data Retrieval API Method

The BEA API has one method for retrieving data: `GetData`. This method has its own function in the `pybea` package.

In [11]:
pybea.get_data?

# RegionalIncome

## Example Usage

Fetch data on personal income for 2012 and 2013 for all counties, in JSON format

In [20]:
data = pybea.get_data(USER_ID,
                      DataSetName='RegionalIncome',
                      TableName='CA1',
                      LineCode=1,
                      GeoFips='COUNTY',
                      Year=['2012', '2013'],
                      )

In [21]:
data.head()

,CL_UNIT,Code,DataValue,GeoFips,GeoName,NoteRef,TimePeriod,UNIT_MULT
0,thousands of dollars,CA1-1,13904485000,0,United States,NaN,2012,3
1,thousands of dollars,CA1-1,14068960000,0,United States,NaN,2013,3
2,thousands of dollars,CA1-1,172789879,1000,Alabama,NaN,2013,3
3,thousands of dollars,CA1-1,170881367,1000,Alabama,NaN,2012,3
4,thousands of dollars,CA1-1,1928597,1001,"Autauga, AL",NaN,2012,3

In [22]:
data.tail()

,CL_UNIT,Code,DataValue,GeoFips,GeoName,NoteRef,TimePeriod,UNIT_MULT
6391,thousands of dollars,CA1-1,1628012943,96000,Southwest,NaN,2013,3
6392,thousands of dollars,CA1-1,461347229,97000,Rocky Mountain,NaN,2012,3
6393,thousands of dollars,CA1-1,479685748,97000,Rocky Mountain,NaN,2013,3
6394,thousands of dollars,CA1-1,2525722441,98000,Far West,NaN,2012,3
6395,thousands of dollars,CA1-1,2559477354,98000,Far West,NaN,2013,3

## Example Usage

Real per capita personal income for all states, all years, in JSON format

In [26]:
data = pybea.get_data(USER_ID,
                      DataSetName='RegionalIncome',
                      TableName='CA1',
                      LineCode=1,
                      GeoFips='STATE',
                      Year='ALL',
                      )

In [27]:
data.head()

,CL_UNIT,Code,DataValue,GeoFips,GeoName,NoteRef,TimePeriod,UNIT_MULT
0,thousands of dollars,CA1-1,791150000,0,United States,NaN,1969,3
1,thousands of dollars,CA1-1,855078000,0,United States,NaN,1970,3
2,thousands of dollars,CA1-1,923964000,0,United States,NaN,1971,3
3,thousands of dollars,CA1-1,1015526000,0,United States,NaN,1972,3
4,thousands of dollars,CA1-1,1131213000,0,United States,NaN,1973,3

In [28]:
data.tail()

,CL_UNIT,Code,DataValue,GeoFips,GeoName,NoteRef,TimePeriod,UNIT_MULT
2875,thousands of dollars,CA1-1,170172717,98000,Far West,NaN,1973,3
2876,thousands of dollars,CA1-1,154141482,98000,Far West,NaN,1972,3
2877,thousands of dollars,CA1-1,140460901,98000,Far West,NaN,1971,3
2878,thousands of dollars,CA1-1,131426091,98000,Far West,NaN,1970,3
2879,thousands of dollars,CA1-1,121614128,98000,Far West,NaN,1969,3

# NIPA (National Income and Product Accounts)

The NIPA dataset contains data from the standard set of NIPA tables as published in the Survey of Current Business. Availability of updated NIPA data follows the BEA News Release schedule as posted on the BEA web site. The NIPA dataset may be unavailable for a few minutes preceding the monthly GDP release while data is being updated (as it is for all other methods of acquiring newly released data).

In [23]:
# access the BEA data API...
meta_data = pybea.get_parameter_list(USER_ID, DataSetName='NIPA')

# ...display the resulting Pandas DataFrame
print(meta_data)

  AllValue  MultipleAcceptedFlag ParameterDataType ParameterDefaultValue  \
0                              1            string
1                              0            string                     N
2                              0           integer                   NaN
3                              0            string                   NaN
4        X                     1           integer

                                ParameterDescription  ParameterIsRequiredFlag  \
0                 A - Annual, Q-Quarterly, M-Monthly                        1
1  A flag indicating that million-dollar data sho...                        0
2                 The standard NIPA table identifier                        0
3                      The new NIPA table identifier                        0
4    List of year(s) of data to retrieve (X for All)                        1

  ParameterName
0     Frequency
1  ShowMillions
2       TableID
3     TableName
4          Year

In [24]:
# access the BEA data API...
meta_data = pybea.get_parameter_values(USER_ID,
                                       DataSetName='NIPA',
                                       ParameterName='TableID')

# ...display the resulting Pandas DataFrame
print(meta_data)

                                           Description TableName
0    Table 1.1.1. Percent Change From Preceding Per...    T10101
1    Table 1.1.2. Contributions to Percent Change i...    T10102
2    Table 1.1.3. Real Gross Domestic Product, Quan...    T10103
3    Table 1.1.4. Price Indexes for Gross Domestic ...    T10104
4          Table 1.1.5. Gross Domestic Product (A) (Q)    T10105
5    Table 1.1.6. Real Gross Domestic Product, Chai...    T10106
6    Table 1.1.6A. Real Gross Domestic Product, Cha...   T10106A
7    Table 1.1.6B. Real Gross Domestic Product, Cha...   T10106B
8    Table 1.1.6C. Real Gross Domestic Product, Cha...   T10106C
9    Table 1.1.6D. Real Gross Domestic Product, Cha...   T10106D
10   Table 1.1.7. Percent Change From Preceding Per...    T10107
11   Table 1.1.8. Contributions to Percent Change i...    T10108
12   Table 1.1.9. Implicit Price Deflators for Gros...    T10109
13   Table 1.1.10. Percentage Shares of Gross Domes...    T10110
14   Table 1.1.11. Real Gross Domestic Product: Per...    T10111
15   Table 1.2.1. Percent Change From Preceding Per...    T10201
16   Table 1.2.2. Contributions to Percent Change i...    T10202
17   Table 1.2.3. Real Gross Domestic Product by Ma...    T10203
18   Table 1.2.4. Price Indexes for Gross Domestic ...    T10204
19   Table 1.2.5. Gross Domestic Product by Major T...    T10205
20   Table 1.2.6. Real Gross Domestic Product by Ma...    T10206
21   Table 1.3.1. Percent Change From Preceding Per...    T10301
22   Table 1.3.3. Real Gross Value Added by Sector,...    T10303
23   Table 1.3.4. Price Indexes for Gross Value Add...    T10304
24    Table 1.3.5. Gross Value Added by Sector (A) (Q)    T10305
25   Table 1.3.6. Real Gross Value Added by Sector,...    T10306
26   Table 1.4.1. Percent Change From Preceding Per...    T10401
27   Table 1.4.3. Real Gross Domestic Product, Real...    T10403
28   Table 1.4.4. Price Indexes for Gross Domestic ...    T10404
29   Table 1.4.5. Relation of Gross Domestic Produc...    T10405
..                                                 ...       ...
282  Table 7.2.6B. Real Motor Vehicle Output, Chain...   T70206B
283  Table 7.3.3. Real Farm Sector Output, Real Gro...    T70303
284  Table 7.3.4. Price Indexes for Farm Sector Out...    T70304
285  Table 7.3.5. Farm Sector Output, Gross Value A...    T70305
286  Table 7.3.6. Real Farm Sector Output, Real Gro...    T70306
287  Table 7.4.3. Real Housing Sector Output, Real ...    T70403
288  Table 7.4.4. Price Indexes for Housing Sector ...    T70404
289  Table 7.4.5. Housing Sector Output, Gross Valu...    T70405
290  Table 7.4.6. Real Housing Sector Output, Real ...    T70406
291  Table 7.5. Consumption of Fixed Capital by Leg...    T70500
292  Table 7.6. Capital Consumption Adjustment by L...    T70600
293  Table 7.7. Business Current Transfer Payments ...    T70700
294  Table 7.8. Supplements to Wages and Salaries b...    T70800
295  Table 7.9. Rental Income of Persons by Legal F...    T70900
296  Table 7.10. Dividends Paid and Received by Sec...    T71000
297  Table 7.11. Interest Paid and Received by Sect...    T71100
298  Table 7.12. Imputations in the National Income...    T71200
299  Table 7.13. Relation of Consumption of Fixed C...    T71300
300  Table 7.14. Relation of Nonfarm Proprietors' I...    T71400
301  Table 7.15. Relation of Net Farm Income in the...    T71500
302  Table 7.16. Relation of Corporate Profits, Tax...    T71600
303  Table 7.17. Relation of Monetary Interest Paid...    T71700
304  Table 7.18. Relation of Wages and Salaries in ...    T71800
305  Table 7.19. Comparison of Income and Outlays o...    T71900
306  Table 7.20. Transactions of Defined Benefit an...    T72000
307  Table 7.21. Transactions of Defined Benefit Pe...    T72100
308  Table 7.22. Transactions of Private Defined Be...    T72200
309  Table 7.23. Transactions of Federal Government...    T72300
310  Table 7.24. Transactions of State and Local Go...    T72400
311  Table 7.25. Transactions of Defined Contributi...    T72500

[312 rows x 2 columns]

# NIUnderlyingDetail (National Income and Product Accounts)

The NIUnderlyingDetail dataset contains detailed estimate data from underlying NIPA series that appear in the national income and product account (NIPA) tables as published in the Survey of Current Business.

# Fixed Assets

The FixedAssets dataset contains data from the standard set of Fixed Assets tables as published online.